doctype html
html
    head
        title Ritu's Dance Academy
        block scripts
        block style
    body
        nav#navbar
            ul
                div#logo
                    img(src="/static/img/logoo.png")
                    | R'DA
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/contact") Contact Us]
        block content
        footer#footer
            | Copyright © 2020 RituDanceAcademy.com | All rights reserved
            